/* GENERAL */
.container-app {
    height: 100vh;
}

/* HOME::cue USER INFO */

body {
  background: #f5f7fa;
}

.user-number {
  font-size: 3em;
  padding-top: 20px;
  font-weight: bold;
}

.user-title {
  font-size: 1.4em;
  font-weight: 200;
}

